<div class="row">
  <div class="col-10 col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="text-center text-secondary">Ingresa tu email</h5>
        <div class="form-group mb-0">
          <input type="email" placeholder="Email" class="form-control" [formControl]="userEmail" required>
        </div>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary" (click)="getNewPassword()">Recupera tu contraseña</button>
      </div>
    </div>
  </div>
</div>
