<div class="row">
  <div class="col-10 col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-header text-center">
        <img src="../../../assets/images/woolworth.png" class="img" alt="">
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <!-- EMAIL INPUT -->
          <div class=" form-group">
            <input type="email" class="form-control" placeholder="Email" name="email" formControlName="email"
              [ngClass]="{ 'is-invalid' : isValidInput('email') }" required>

            <!-- EMAIL INPUT ERRORS -->
            <div class="invalid-feedback">
              <span *ngIf="loginForm.get('email').errors?.required">
                El campo email es requerido.
              </span>
              <span *ngIf="loginForm.get('email').errors?.pattern">
                Por favor ingrese un email válido.
              </span>
            </div>
          </div>

          <!-- PASSWORD INPUT -->
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password"
              formControlName="password" [ngClass]="{ 'is-invalid' : isValidInput('password') }" required>

            <!-- PASSWORD INPUT ERRORS -->
            <div class="invalid-feedback">
              <span *ngIf="loginForm.get('password').errors?.required">
                El campo password es requerido.
              </span>

              <span *ngIf="loginForm.get('password').errors?.minlength">
                La contraseña debe ser de al menos 6 caracteres.
              </span>

              <span *ngIf="loginForm.get('password').errors?.requiredLength">
                La contraseña debe ser de al menos 6 caracteres.
              </span>

            </div>
          </div>

          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success btn-block">Entrar</button>
        </form>

        <div class="form-group pt-3 text-center">
          <p>Aún no tienes una cuenta?<a routerLink="/register"> Crear cuenta</a></p>
        </div>

        <div class="form-group pt-3 text-center">
          <p>Olvidaste tu contraseña?<a routerLink="/forgot-password"> Recuperar</a></p>
        </div>

      </div>

    </div>
    <div *ngIf="user$ | async as user" class="isEmailVerified">
      <div *ngIf="!user.emailVerified" class="alert alert-danger mt-3" role="alert">
        Tu email aun no está verificado.
      </div>
    </div>
  </div>
</div>
